*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
display: flex;
background-color: #DCF2F1;
}
.img{
  width: 60px;
  height: auto;
}
.logo {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin: 20px;
}
.w3-sidebar{

  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.card{
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
  background-color: #7FC7D9;
  border-color: #1A7FC1;
}
svg{
  margin-right: 10px;
}
.second-part{
  background-color: #DCF2F1;
}
